{% extends "base.html" %}

{% block title %}
Auction detail
{% endblock %}

{% block css %}
<style>
  .image_max_width{
    max-width: 100%;
  }
</style>
{% endblock %}

{% block content %}

<h3>Auction details</h3>

{% include "notification.html" %}

<div class="row">
  <div class="col-md-6">
    <img class="image_max_width" src="{{ auction.imagepath }}" alt="auc_1" />

    <p>{{ auction.description }}</p>
  </div>

  <div class="col-md-1">
  </div>

  <div class="col-md-5">
    <h5>{{ auction.title }}</h5>

    <p>price {{ auction.current_price }}</p>

    <p>highest bidder: {{ auction.buyername }}</p>

    <p>ends at {{ auction.endtime }}</p>

    {% if auction.status == "ended" %}
    <button class="btn btn-danger">ended</button>
    {% elseif session == false %}
    <a href="/login" class="btn btn-warning">log in</a>
    {% elseif session.username == auction.sellername %}
    <button class="btn btn-warning">can not bid on own</button>
    {% else %}
    <button class="btn btn-success" id="bidPopupButton"
      data-toggle="modal" data-target="#bidPopup">bid</button>

    <div class="modal fade" id="bidPopup" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Bid</h4>
          </div>
          <div class="modal-body">
            <div>Current price <span id="currentPrice">{{ auction.current_price }}</span></div>
            <div>minimum bid <span id="minimumBid">{{ auction.minimumBid }}</span></div>
            <input type="text" id="newOffer" name="newOffer" value="">
            <button class="btn btn-primary" id="bidOnAuction">bid</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% endif %}

    <div id="testOut"></div>
  </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
  // currentPrice minimumBid bidOnAuction

  $("#bidOnAuction").click(function(event)
  {
    $.ajax({
      type: "POST",
      url: "/bidAuction/{{ auction.id }}",
      data: {
              "newOffer": $("#newOffer").val(),
              "auctionId": {{ auction.id }}
            },
      dataType: "json",
      success: function(data){
        if(data.status)
        {
          $("#testOut").html(data.notification);
        } else {
          $("#testOut").html(data.notification);
        }
      }
    });
  });
</script>
{% endblock %}
